ffmpeg-python==0.2.0
imageio==2.22.0
imageio-ffmpeg==0.4.7
matplotlib>=3.7.0
pandas==1.5.3
python-dateutil==2.8.2
pytz==2022.7
PyYAML>=6.0
scikit-image==0.19.3
scikit-learn
scipy
tqdm>=4.66.2
joblib>=1.1.0
numba==0.56.4
librosa==0.9.1
llvmlite==0.39.0
Cython
denoiser
faiss-cpu==1.7.3
gradio==3.34.0
pydub>=0.25.1
soundfile>=0.12.1
tensorboardX
Jinja2>=3.1.2
json5
matplotlib-inline>=0.1.3
praat-parselmouth>=0.4.2
Pillow>=9.1.1
resampy>=0.4.2
tensorboard
tornado>=6.1
Werkzeug>=2.2.3
uc-micro-py>=1.0.1
sympy>=1.11.1
tabulate>=0.8.10
pyasn1>=0.4.8
pyasn1-modules>=0.2.8
fsspec>=2022.11.0
absl-py>=1.2.0
audioread
uvicorn>=0.21.1
colorama>=0.4.5op
pyworld==0.3.2
httpx
onnxruntime; sys_platform == 'darwin'
onnxruntime-gpu; sys_platform != 'darwin'
torchcrepe==0.0.20
fastapi==0.88
ffmpy==0.3.1
python-dotenv>=1.0.0
av
python_speech_features
ipython
batch_face
numpy==1.23.4
opencv-python==4.6.0.66
--extra-index-url=https://download.pytorch.org/whl/cu116
torch==1.12.1+cu116
--extra-index-url=https://download.pytorch.org/whl/cu116
torchvision==0.13.1+cu116
mediapipe==0.8.11